<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Removal of All Name</title>
    </head>

    <body>
        <h1>Removal of All Name</h1>
        All names have been removed from the database. Number of names removed: <%- numDeleted %>
        <br>
        <br>
        <a href="http://localhost:<%= portNumber %>/">HOME</a>
    </body>
</html>